<div>
  <div>
    <h1>
      List of all grouplists
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new grouplist
    </h2>

    <form action="/insert_grouplist" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="group_id_box">
          Group
        </label>

        <input type="text" id="group_id_box" name="query_group_id">
      </div>

      <button>
        Create grouplist
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Group
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_grouplists.each do |a_grouplist| %>
      <tr>
        <td>
          <%= a_grouplist.id %>
        </td>

        <td>
          <%= a_grouplist.user_id %>
        </td>

        <td>
          <%= a_grouplist.group_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_grouplist.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_grouplist.updated_at) %> ago
        </td>

        <td>
          <a href="/grouplists/<%= a_grouplist.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
