<h1>Welcome to Intrepid Learning Solutions!</h1>
<h4> Your first selection was <%=@sel1%>, your second selection was <%=@sel2%>, your third selection was <%=@sel3%>, your fourth selection was <%=@sel4%>, and your final selection was <%=@sel5%> If this is not correct, please go <a href="/">back </a>and retry</h4>

 <h2>Make your Experience selection</h2>

 <form action="/submit6" method="post">

      </div>

      <div>
        <label for="movie_id_box">
          Selection 6
        </label>
      <select id="movie_id_box" name="selection 6">
        <option value="experienced"> I've done this before!. </option>
        <option value="inexperienced"> I do not have the relevant experience </option>
      </select>
           </div>
      <button>
        Submit
      </button>
    </form>
        <form action="/submit6" method="post">
      </div>

 
    </form>
      </div> 