<h1>Welcome to Intrepid Learning Solutions!</h1>
<h4> Your first selection was <%=@sel1%>, your second selection was <%=@sel2%>, your third selection was <%=@sel3%>, your fourth selection was <%=@sel4%>, and your final selection was <%=@sel5%> If this is not correct, please go <a href="/">back </a>and retry</h4>

 <h2>Make your Groups selection</h2>

 